@tailwind base;
@tailwind components;
@tailwind utilities;

img.twemoji {
  display: inline;
  width: 1em;
  height: 1em;
  margin: 0 0.1em 0 0.2em;
  vertical-align: -0.1em;
  background: none;
  padding: 0;
}
